<!DOCTYPE HTML>
<html lang="en-US" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>host family</title>
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="dist/css/font-awesome.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>
	<!--The model -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">用户登陆框</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							Login form
						</div>
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-3">User Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="User Name"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Password</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" placeholder="Password"/>
									</div>	
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="submit" class="btn btn-info pull-right" value="log in"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">提交更改</button>
				</div> -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<header>
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="icon-reorder"></i>
					</button>
					<div class="navbar-brand"><a href="#"><i class="glyphicon glyphicon-home"></i> Dashboard</a></div>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-calendar"></i>
								My Tasks
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">aaaa</a></li>
								<li><a href="#">bbbb</a></li>
								<li class="divider"><a href="#">cccc</a></li>
								<li><a href="#">dddd</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="drap-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-list-alt"></i>
								Administer
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">aaaaa</a></li>
								<li><a href="#">bbbbb</a></li>
								<li><a href="#">ccccc</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" data-toggle="modal" data-target="#myModal">log in</a>
						</li>
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-user"></i>
								joins
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">1111</a></li>
								<li><a href="#">2222</a></li>
								<li class="divider"><a href="#">3333</a></li>
								<li><a href="#">其他</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Host Family Inquiry
						</div>
						
						<div class="panel-body">
							<form class="form-horizontal" name="personInfoForm" ng-controller="personInfo-controller" novalidate>
								<div class="form-group">
									<label class="col-sm-3 control-label">First Name</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" placeholder="由3-30个字母组成" name="f_name" ng-model="vm.personInfo.f_name" ng-pattern="/^[A-Za-z]{2,29}$/" required/>
										<div ng-show="personInfoForm.f_name.$dirty && personInfoForm.f_name.$invalid && vm.show_error" class="error">
											<span ng-show="personInfoForm.f_name.$error.required">firstName is required !</span>
											<span ng-show="personInfoForm.f_name.$error.pattern">firstName格式不正确！</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Last Name</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" placeholder="由3-30个字母组成" name="l_name" ng-model="vm.personInfo.l_name" ng-pattern="/^[A-Za-z]{2,29}$/" required//>
										<div ng-show="personInfoForm.l_name.$dirty && personInfoForm.l_name.$invalid && vm.show_error" class="error">
											<span ng-show="personInfoForm.l_name.$error.required">lastName is required !</span>
											<span ng-show="personInfoForm.l_name.$error.pattern">lastName 格式不正确！</span>
										</div>
									</div>
								</div>
								<!-- 要加日历插件  -->
								<div class="form-group">
									<label class="col-sm-3 control-label">Date Birth</label>
									<div class="col-sm-5">
										<div id="dob" class="input-group date form_datetime ">
											<input class="form-control" size="16" type="text" value="" placeholder="请选择日期" ng-model="vm.personInfo.dateBirth" readonly>
											<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Gender</label>
									<div class="col-sm-7">
										<label><input type="radio" name="sex" /> Male</label>
										<label><input type="radio" name="sex" /> Female</label>
										<span>{{vm.selection}}</span>
									</div>
								</div>
								<!-- 要加日历插件  -->
								<div class="form-group">
									<label class="col-sm-3 control-label">Application Date</label>
									<div class="col-sm-5">
										<div id="app-date" class="input-group date form_datetime ">
											<input class="form-control" size="16" type="text" value="" placeholder="请选择日期" ng-model="vm.personInfo.applicationDate" readonly>
											<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
								</div>
								<!-- 美国电话号码的验证 待完成 -->
								<div class="form-group">
									<label class="col-sm-3 control-label">Phone Number</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" placeholder="请填写你的电话号码！" name="phone" ng-pattern="" ng-model="vm.personInfo.phone" required/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">EMail</label>
									<div class="col-sm-7">
										<input type="email" class="form-control" name="email" placeholder="请填写你的邮箱" ng-pattern="/\w@\w*\.\w/" ng-model="vm.personInfo.email" required/>
										<div class="error"  ng-show="personInfoForm.email.$dirty && personInfoForm.email.$invalid && vm.show_error">
											<span ng-show="personInfoForm.email.$error.required">Email is required !</span>
											<span ng-show="personInfoForm.email.$error.pattern">Email 格式不正确！</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">ZIP Code</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" placeholder="请输入 ZIP Code" name="zcode" ng-model="vm.personInfo.zcode" ng-pattern="/^[0-9]*$/" required/>
										<div class="error"  ng-show="personInfoForm.zcode.$dirty && personInfoForm.zcode.$invalid && vm.show_error">
											<span ng-show="personInfoForm.zcode.$error.required">zcode is required !</span>
											<span ng-show="personInfoForm.zcode.$error.pattern">zcode 格式不正确！</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">How did you hear ?</label>
									<div class="col-sm-4">
										<select class="form-control">
											<option value="">报纸上</option>
											<option value="">网上</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-7 col-sm-offset-3">
										<button class="btn btn-info" ng-click="vm.submit(personInfoForm)">Submit</button>
										<button class="btn btn-info">Cancel</button>
									</div>
								</div>
							</form>
							<div>{{vm.personInfo.data}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							kermit
						</div>
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">First Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="kermit"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Last Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="The Frog"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Your Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="kermit@activiti.org"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-group list-unstyled message">
						<li class="list-group-item clearfix">
							<a href="javascript:void(0);" class="btn btn-default pull-left">ADD USER</a>
							<input type="search" class="pull-right" />
						</li>
						<li class="list-group-item">
							<img src="images/1.jpg" alt="头像" class="message-avatar" />
							<a href="#" class="message-subject">Fozzie</a><br />
							<div class="message-description">Fozzie@activiti.org</div>
							<span class="close"> &times </span>
						</li>
						<li class="list-group-item">
							<img src="images/1.jpg" alt="头像" class="message-avatar" />
							<a href="#" class="message-subject">Fozzie</a><br />
							<div class="message-description">Fozzie@activiti.org</div>
							<span class="close"> &times </span>
						</li>
						<li class="list-group-item">
							<img src="images/1.jpg" alt="头像" class="message-avatar" />
							<a href="#" class="message-subject">Fozzie</a><br />
							<div class="message-description">Fozzie@activiti.org</div>
							<span class="close"> &times </span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer></footer>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#dob').datetimepicker({
				format: 'yyyy/mm/dd',
				todayHighlight: 1,
				todayBtn:1,
				autoclose: 1,
				minView: "month"
			});
			$("#app-date").datetimepicker({
				format: 'yyyy/mm/dd',
				todayHighlight: 1,
				todayBtn:1,
				autoclose: 1,
				minView: "month"
			});
		});
	</script>
	<script type="text/javascript">
		angular.module("myApp",[])
		.controller("personInfo-controller",function($scope,$http,$templateCache){
			var vm = $scope.vm={
				show_error: false,
				personInfo:{}
			};
			var vm.sexarr = ["Male","Female"]
			/*vm.datas={
				fName:vm.personInfo.f_name,
				lName:vm.personInfo.l_name,
				dateBirth:vm.personInfo.dateBirth,
				//gender:vm.personInfo.gender,
				applicationDate:vm.personInfo.applicationDate,
				phone:vm.personInfo.phone,
				eMail:vm.personInfo.email,
				zipCode:vm.personInfo.zcode
				//source:vm.personInfo.source
			};*/
			vm.personInfoDate = {
				fName:"jin",
				lName:"wan",
				phone:13501612954
			}
			vm.submit = function (personInfoForm) {
				vm.show_error = true;
				personInfoForm.$setDirty();
				if(personInfoForm.$valid){
					//alert("success")
					$http({
						method:'post',
						url:'http://192.168.0.74:8080/ghfo-rest/profile/createprofile'
						data:vm.personInfoDate,
						
					})
					.success(function(date){
						vm.personInfo.data = data;
					});
				}
			};
		})
	</script>
</body>
</html>