@charset "utf-8";
a,a:hover{
	text-decoration:none;
}
.error{
	margin-top:10px;
	color:red;
}
.navbar-default .navbar-brand  a {
    color: #777;
}
.message .message-avatar{
	width:38px;
	height:38px;
	border-radius:9999px;
	position:absolute;
	top:13px;
}
.message .message-subject, .message .message-description{
	padding-left:60px;
}
.message .close{
	position:absolute;
	top:18px;
	right:25px;
}
